@model EquiposDeFutbol.Models.Fixtures

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fixtures</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixtureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixtureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.CompetitionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FixtureID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
